.flex{
    display: flex;
}
.just-cen{
    display: flex;
    justify-content: center;
}
.item-cen{
    display: flex;
    align-items: center;
}
.border{
    border: 1px solid black;
}
.item-cen{
    display: flex;
    align-items: center;
}

.invert{
    filter:invert(10);
}

.bg-gray{
    background-color: #121212;
}
.round{
    border-radius: 6px;
}

.cardcontainer::-webkit-scrollbar {
    width: 5px;
}

.cardcontainer::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.cardcontainer::-webkit-scrollbar-track {
    background-color: #333;
}

.songList ul {
    overflow-x: hidden; 
}

.songList ul::-webkit-scrollbar {
    width: 5px;
}

.songList ul::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 5px; 
}

.songList ul::-webkit-scrollbar-track {
    background-color: #333; 
}

